* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* HEADER */
.header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.header .container{
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container a{
    text-decoration: none;
}
.header .container .line{
    width: 0;
    height: 1px;
    background-color: #dc4f72;
}
.header .container a:hover .line{
    width: 50%;
    transition: all 0.4s;
    transition-timing-function: linear;
}
.header .container .logo h1{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    color: #DD5779;
    letter-spacing: -1px;
}
.header .container .navbar a{
    transition: all 0.5s ease;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 0 15px;
    position: relative;
}
.header .container .navbar .active.active{
    color: #dc4f72;
}
.header .container .navbar a:hover{
    color: #dc4f72;
}
.header .container .navbar i{
    font-size: 25px;
    color: #696969;
    transform: rotate(-30deg);
}

.button__border {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 5px;
    line-height: 1.2;
    cursor: pointer;
    color: #dc4f72;
    border-color: #dc4f72;
    background-color: white;
}

.button__border:hover {
    color: white;
    background-color: #dc4f72;
}

/* EXCUTE */



.execute .content-excute {
    position: relative;
    z-index: 1;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../Img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
}

.execute .row-execute {
    display: flex;
}

h6.subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

h3.subtitle1 {
    color: black;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 15px;
    text-decoration: none;
}

h3.subtitle2 {
    color: black;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    text-decoration: none;
}

.col-left-execute .p-execute {
    color: #5A5A5A;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.p-execute {
    color: #5A5A5A;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px
}

/* WHY CHOOSE US */
.chooseus {
    text-align: center;
    padding: 60px 0;
}

.chooseus .container {
    text-align: center;
}

.header-center-chooseus {
    width: 50%;
    display: inline-block;
    padding-bottom: 50px;
}

.row-chooseus {
    display: flex;
    text-decoration: none;
}
.col-chooseus {
    border-radius: 10px;
    transition: all 0.3s;
    background: #f7f9fc;
    padding: 20px 50px;
    border: 3px solid transparent;
    cursor: pointer;
    text-align: center;
    margin-right: 30px;
}

.col-chooseus:hover {
    transition: all 0.3s ;
    background-color: #ffffff;
    border: 1px solid #eee;
    transform: translateY(-10px);
}

.img {
    max-width: 100%;
    height: auto;
}

.p-info {
    color: #5A5A5A;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-decoration: none;
}

/* ABOUT */
.about {
    background-color: #f7f9fc;
    padding: 50px 0;
}
.about .row-about {
    display: flex;
}

.about .col-left-about {
    width: 50%;
    display: inline-block;
}

.button__color {
    transition: all 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    border-radius: 5px;
    border-color: #dc4f72;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #fff;
    background-color: #dc4f72;
    cursor: pointer;
}

.button__color:hover {
    background-color: #dc3545;
}

.img-shadow {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    transition: all 0.3s;
    cursor: pointer;
}

.img-shadow:hover {
    transform: translateY(-10px);
}


.number {
    padding: 80px 0 20px 0;
}

.number .row-number {
    display: flex;
    margin: 0 -15px;
}

.col-number {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    transition: all 0.3s;
    border: 1px solid #eee;
    margin: 0 15px 0 15px;
}

.number .subtitle3 {
    font-size: 16px;
    line-height: 24.5px;
    color: black;
    font-weight: 700;
}

.number .p-counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* WE ARE TRUE */
.content-wearetrue {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../Img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 20px 0;
}

.wearetrue .item-wearetrue h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.item-wearetrue {
    max-width: 550px;
}

.p-wearetrue {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
    margin-bottom: 50px;
}

.button__color2 {
    transition: all 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    border-radius: 5px;
    border-color: #f8f9fa;
    border: 1px solid transparent;
    color: black;
    background-color: #f8f9fa;
    cursor: pointer;
}

.button__color2:hover {
    background-color:#cccecf;
}




/* @media screen and (min-width: 1200px) {
    .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: cal(100%/3);
    }
    .offset-lg-0 {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
}

@media screen and (min-width: 576px) {
    .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
} */